<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.sbs.gui.report.reptimesheets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <com.sbs.gui.report.reptimesheets.Properties.Settings>
            <setting name="formState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>455, 233</value>
            </setting>
            <setting name="formLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </com.sbs.gui.report.reptimesheets.Properties.Settings>
    </userSettings>
</configuration>