<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <ref_branch>2</ref_branch><!-- id заведения -->
  <dbmode>offline</dbmode><!-- offline; online; mixed -->
  <resourcePath>\\MAIN2\11111\BackOffice\resource</resourcePath>
  <modulesPath>\\MAIN2\11111\BackOffice\modules</modulesPath>
  <waiter>
    <authortype>1</authortype>
  </waiter>
  
</settings>
